// Body
$body-bg: #ced2d6;

// Typography
$font-family-sans-serif: 'Didact Gothic', sans-serif;
$parrafos-font-family: 'Fredoka One', cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #eca128;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
